header {
	display: flex;
	min-height: 10%;
	color: #fefeff;
	background-color: #222222;
	align-items: center;
	justify-content: space-around;
}

#headerIcon {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

header p {
	font-size: 100%;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
